<p id="notice"><%= notice %></p>

<p>
  <strong>Precentage:</strong>
  <%= @own.precentage %>
</p>

<p>
  <strong>Email:</strong>
  <%= @own.email %>
</p>

<%= link_to 'Edit', edit_own_path(@own) %> |
<%= link_to 'Back', al_path %>
